.profileInput{
    margin-bottom: 30px;
}
.input {
    margin-left:0px;
    outline: 0;
    border-width: 0 0 2px;
  
}
.profile{
    text-align: center;
}
.profileTitle{
    font-size: large;
    font-weight: bolder;
}
.hi{
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 40px;
}
.balance{
    margin-left: 100px;
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 30px;
}