.progressBar{
  
  
   
}

.curTask{
    height: 350px;
    
    background-image: url('../deliver.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: luminosity;
    background-size:contain;
    background-position:center;
    opacity: 0.6;
}
.tasktitle{
    font-size: xx-large;
    font-weight: bolder;
    opacity: 1;
}

.deliverInfo{
    margin-top: 30px;
    margin-left: 60px;
    text-align: left;
    font-size: large;
    font-weight: bold;
    
}

.info{
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 20px;
}