.commentItem{
    width: 85%;
    border: 1px solid rgba(0,0,0,.125);
    padding:5px 20px;
    
}

.comment-content{
    font-size: large;
}

.comment-author{
    color: 	#AAAAAA;
}

.addComment{
    width:85%;
}

.inputComment{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.btn-outline-secondary:hover{
    background-color: #330662;
    color: white;
}