.postList{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.postList:hover{
    background-color: #E6CAFF;
    color: white;
}

.post-active{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: purple;
    color: white;
}


.postCard{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1.25rem;
    width: 100%;
}

.postCard:hover{
    background-color: lightgrey;
}

.search_bar{
    width: 60%;
    margin-bottom: 20px;
}

.post-list-title{
    
    font-size: x-large;
    font-weight: bolder;
    
}
.newPost{
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: bolder;

}

.postTextArea{
    margin-top: 40px;
    margin-left: 16px;
}

.postTag{
    
    margin-top:10px;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    width:200px;
    
}

.postTag:focus{
    outline: none !important;
    border: 6px solid transparent!important;
  border-color: #fff transparent transparent transparent!important;
}

.post-list-author{
    color: 	#AAAAAA;
}

.tags{
    margin-left: 3px;
    display: inline;
    color: lightgrey
}
.deleteBtn{
    text-align: right;
}

.taskList{
    
}
.pay{
    margin-left: 50px;
    font-size: x-large;
    font-weight: bolder;
}

.detailTilte {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

.detailInfo {
    font-size: large;
}

.recieveBtn{
    margin-left: 250px;
    font-size: larger;
    font-weight: bolder;
}

.deliveringtitle{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
.confirmBtn{
    margin-top: 50px;
    margin-left: 160px;
    font-size: x-large;
    font-weight: bolder;
}
.information{
    padding-left: 40px;
    padding-right: 40px;
}
.informationTitle{
    font-weight: bolder;
    font-size: large;
    margin-bottom: 5px;
}
