.postList{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.postList:hover{
    background-color: #E6CAFF;
    color: white;
}

.post-active{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: purple;
    color: white;
}


.postCard{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1.25rem;
    width: 100%;
}

.search_bar{
    width: 60%;
    margin-bottom: 20px;
}

.post-list-title{
    font-size: x-large;
    font-weight: bolder;
    
}
.newPost{
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: bolder;

}

.postTextArea{
    margin-top: 40px;
    margin-left: 16px;
}

.postTag{
    
    margin-top:10px;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    width:200px;
    
}

.postTag:focus{
    outline: none !important;
    border: 6px solid transparent!important;
  border-color: #fff transparent transparent transparent!important;
}

.post-list-author{
    color: 	#AAAAAA;
}

.tags{
    margin-left: 3px;
    display: inline;
    color: lightblue
}
.deleteBtn{
    text-align: right;
}

.taskList{
    
}