.linkBtnMP{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: x-large;
    font-weight: bold;
}

.linkBtnPf{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    font-size: x-large;
    font-weight: bold;
    
}

.logoutBtn{
    background-color: #343a40!important;
    border-color: #343a40!important;
    font-weight: bold;
    margin-left: 200px;
}