.loginForm{
    margin-top: 100px;
    text-align: center;
}

.inputTool{
    margin-bottom: 20px;
}

.input {
    margin-left:0px;
    outline: 0;
    border-width: 0 0 2px;
  
}

.title{
    font-size: 40px;
    font-weight: bolder;
    
    margin-bottom: 30px;
}

.submitButn{
    font-size: x-large;
    font-weight: bolder;
    padding: 20px 50px;
}
